<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OPSS Client</display-name>

  <!-- Listeners -->
  <listener>
    <description>Initializes application as client to backend service.</description>
    <listener-class>oracle.social.opss.client.AppContextListener</listener-class>
  </listener>

  <servlet>
    <display-name>OPSS Client</display-name>
    <servlet-name>Client</servlet-name>
    <servlet-class>oracle.social.opss.client.Client</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AppServlet</servlet-name>
    <servlet-class>oracle.social.opss.client.AppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Client</servlet-name>
    <url-pattern>/Client</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AppServlet</servlet-name>
    <url-pattern>/appservlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>
